html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* RESET ^^^^ */
/* APP GENERAL vvv */

body {
  color: white;
  background-color: rgb(50,50,50);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#window {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

/* APP GENERAL ^^^^ */
/* SelectionBar vvv */

.itemMenu {
  /* background-color: black; */
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 500;
  border: 1px solid grey;
}

.itemSelection {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.itemSelection p {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#selectNone {
  height: 25px;
}
/* rgb (0, 200, 200) aqua
chacoal (50,50,50)
background-light grey (230,230,230)
background-dark (charcoal)
*/

/* SELECTION BAR ^^^ */
/* CONTEXT MENU VVV */
#contextWindow {
  position: absolute;
  z-index: 20;
  background-color: rgba(25,25,25,.95);
  border-radius: 5px;
  height: 0px;
  left: 50px;
  top: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contextAction {
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-family: monospace;
  font-weight: 700;
  color: rgb(200,200,200);
  padding: 0 15px;
  cursor: pointer;
}

#one {
  background-color: rgb(0,0,0);
}